/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

/*
*
* MEASURE YOUR POSTER and change these two variables !
* 
*/
$poster-width: 1000;
$poster-height: 1000;

body {
	min-height: 100vh;
	padding: 5vh 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	font-family: sans-serif;
}
.poster {
	position: relative;

	overflow: hidden;

	background-color: #454454;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);

	@media (min-aspect-ratio: #{$poster-width}/#{$poster-height}) {
		width: 90vh * ($poster-width/$poster-height);
		height: 90vh;
	}

	@media (max-aspect-ratio: #{$poster-width}/#{$poster-height}) {
		width: 90vw;
		height: 90vw * ($poster-height/$poster-width);
	}

	/*
		Everything in % so it's fully responsive!!!!!
	*/
	.full-size {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%; // of the poster width, should match height automatically
	}

	.red-box{
		top: 24%;
		left: 10%;
		width: 19%;
	}

	.head {
		top: 25%;
		left: 46%;
		width: 9%;
		z-index: 1;
	}

	.body{
		top: 32%;
		left: 42%;
		width: 21%;
	}

	.shoulder {
		top: 35%;
		left: 43%;
		width: 5%;
		z-index: 1;
	}

	.forearm {
		top: 44%;
		left: 45%;
		width: 13%;
		z-index: 1;
	}

	.logo{
		top: 61%;
		left: 13%;
		width: 13%;
	}

	.text-1{
		top: 43%;
		left: 4%;
		width: 32%;
	}

	.text-2{
		top: 49%;
		left: 8%;
		width: 22%;
	}

	// .character {
	// 	transform: translateY(15%);
	// }
}
